.container
  .content
    .page-header
      h1
        | Toronto Tweet Stream
        small Here is what's going on in Toronto, Ontario, Canada.

    .row
      .span14
        script(type="text/x-handlebars")
          | {{#each App.tweetsController}}
          |   {{#view App.TweetsView contentBinding="this"}}
          |     {{#with content}}
          |       <img {{bindAttr src="photo"}}/>
          |       <b>{{username}}</b>: {{text}}
          |     {{/with}}
          |   {{/view}}
          | {{/each}}

    footer
      | &copy; 2012 Derrick Weis

script(src='/socket.io/socket.io.js')
script(src="http:////ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
script
  !window.jQuery && document.write(unescape('%3Cscript src="javascripts/vendor/jquery-1.6.1.min.js"%3E%3C/script%3E'))
script(src="javascripts/vendor/ember-0.9.3.min.js")

script
  (function($) {
    // Create the Ember application
    window.App = Em.Application.create();

    // Model: Tweet
    App.Tweet = Em.Object.extend({
      id: null,
      username: null,
      photo: null,
      text: null
    });

    // View: Tweets
    App.TweetsView = Ember.View.extend({
     tweetsBinding: 'App.tweetsController'
    })

    // Controller: Tweets
    App.tweetsController = Em.ArrayProxy.create({
      content: [],

      createTweet: function(tweet) {
        var tweetObject = App.Tweet.create({
          id: tweet.id,
          username: tweet.user.screen_name,
          photo: tweet.user.profile_image_url,
          text: tweet.text
        });

        this.unshiftObject(tweetObject);

        if (this.content.length > 6)
          this.popObject();
      }
    });

    // Set up socket.io connection
    var socket = io.connect('http://localhost');

    // On tweet, add the tweet to the Tweets controller
    socket.on('tweet', function (tweet) {
      App.tweetsController.createTweet(tweet);
    });
  }) (jQuery);
